.theme-kodama-grove {
  --background: oklch(0.88 0.05 91.79);
  --foreground: oklch(0.43 0.03 59.22);
  --card: oklch(0.89 0.04 87.57);
  --card-foreground: oklch(0.43 0.03 59.22);
  --popover: oklch(0.94 0.03 89.85);
  --popover-foreground: oklch(0.43 0.03 59.22);
  --primary: oklch(0.67 0.11 118.91);
  --primary-foreground: oklch(0.99 0.01 88.64);
  --secondary: oklch(0.85 0.06 91.15);
  --secondary-foreground: oklch(0.43 0.03 59.22);
  --muted: oklch(0.85 0.06 91.15);
  --muted-foreground: oklch(0.58 0.03 60.93);
  --accent: oklch(0.84 0.07 90.33);
  --accent-foreground: oklch(0.43 0.03 59.22);
  --destructive: oklch(0.71 0.10 29.98);
  --destructive-foreground: oklch(0.98 0.01 91.48);
  --border: oklch(0.69 0.04 59.84);
  --input: oklch(0.84 0.07 90.33);
  --ring: oklch(0.73 0.06 130.85);
  --chart-1: oklch(0.73 0.06 130.85);
  --chart-2: oklch(0.68 0.06 132.45);
  --chart-3: oklch(0.82 0.03 136.65);
  --chart-4: oklch(0.59 0.05 137.62);
  --chart-5: oklch(0.52 0.04 137.19);
  --sidebar: oklch(0.86 0.06 90.52);
  --sidebar-foreground: oklch(0.43 0.03 59.22);
  --sidebar-primary: oklch(0.73 0.06 130.85);
  --sidebar-primary-foreground: oklch(0.99 0.01 88.64);
  --sidebar-accent: oklch(0.92 0.02 88.00);
  --sidebar-accent-foreground: oklch(0.43 0.03 59.22);
  --sidebar-border: oklch(0.91 0.02 88.00);
  --sidebar-ring: oklch(0.73 0.06 130.85);
  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.425rem;
  --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
  --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
  --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);


  @variant dark {
    --background: oklch(0.33 0.02 88.07);
    --foreground: oklch(0.92 0.02 82.12);
    --card: oklch(0.36 0.02 82.33);
    --card-foreground: oklch(0.92 0.02 82.12);
    --popover: oklch(0.36 0.02 82.33);
    --popover-foreground: oklch(0.92 0.02 82.12);
    --primary: oklch(0.68 0.06 132.45);
    --primary-foreground: oklch(0.27 0.01 61.02);
    --secondary: oklch(0.44 0.02 84.55);
    --secondary-foreground: oklch(0.92 0.02 82.12);
    --muted: oklch(0.39 0.02 82.71);
    --muted-foreground: oklch(0.71 0.02 73.62);
    --accent: oklch(0.65 0.07 90.76);
    --accent-foreground: oklch(0.27 0.01 61.02);
    --destructive: oklch(0.63 0.08 31.30);
    --destructive-foreground: oklch(0.94 0.02 84.59);
    --border: oklch(0.44 0.02 84.55);
    --input: oklch(0.44 0.02 84.55);
    --ring: oklch(0.68 0.06 132.45);
    --chart-1: oklch(0.68 0.06 132.45);
    --chart-2: oklch(0.73 0.06 130.85);
    --chart-3: oklch(0.59 0.05 137.62);
    --chart-4: oklch(0.65 0.07 90.76);
    --chart-5: oklch(0.52 0.04 137.19);
    --sidebar: oklch(0.33 0.02 88.07);
    --sidebar-foreground: oklch(0.92 0.02 82.12);
    --sidebar-primary: oklch(0.68 0.06 132.45);
    --sidebar-primary-foreground: oklch(0.27 0.01 61.02);
    --sidebar-accent: oklch(0.65 0.07 90.76);
    --sidebar-accent-foreground: oklch(0.27 0.01 61.02);
    --sidebar-border: oklch(0.44 0.02 84.55);
    --sidebar-ring: oklch(0.68 0.06 132.45);
    --font-sans: Merriweather, serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.425rem;
    --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
    --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
    --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
    --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
    --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
    --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
  }
}

.theme-claude {
  --background: oklch(0.98 0.01 95.10);
  --foreground: oklch(0.34 0.03 95.72);
  --card: oklch(0.98 0.01 95.10);
  --card-foreground: oklch(0.19 0.00 106.59);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.27 0.02 98.94);
  --primary: oklch(0.62 0.14 39.04);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.92 0.01 92.99);
  --secondary-foreground: oklch(0.43 0.02 98.60);
  --muted: oklch(0.93 0.02 90.24);
  --muted-foreground: oklch(0.61 0.01 97.42);
  --accent: oklch(0.92 0.01 92.99);
  --accent-foreground: oklch(0.27 0.02 98.94);
  --destructive: oklch(0.19 0.00 106.59);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.88 0.01 97.36);
  --input: oklch(0.76 0.02 98.35);
  --ring: oklch(0.59 0.17 253.06);
  --chart-1: oklch(0.56 0.13 43.00);
  --chart-2: oklch(0.69 0.16 290.41);
  --chart-3: oklch(0.88 0.03 93.13);
  --chart-4: oklch(0.88 0.04 298.18);
  --chart-5: oklch(0.56 0.13 42.06);
  --sidebar: oklch(0.97 0.01 98.88);
  --sidebar-foreground: oklch(0.36 0.01 106.65);
  --sidebar-primary: oklch(0.62 0.14 39.04);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.92 0.01 92.99);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  @variant dark {
    --background: oklch(0.27 0.00 106.64);
    --foreground: oklch(0.81 0.01 93.01);
    --card: oklch(0.27 0.00 106.64);
    --card-foreground: oklch(0.98 0.01 95.10);
    --popover: oklch(0.31 0.00 106.60);
    --popover-foreground: oklch(0.92 0.00 106.48);
    --primary: oklch(0.67 0.13 38.76);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.98 0.01 95.10);
    --secondary-foreground: oklch(0.31 0.00 106.60);
    --muted: oklch(0.22 0.00 106.71);
    --muted-foreground: oklch(0.77 0.02 99.07);
    --accent: oklch(0.21 0.01 95.42);
    --accent-foreground: oklch(0.97 0.01 98.88);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.36 0.01 106.89);
    --input: oklch(0.43 0.01 100.22);
    --ring: oklch(0.59 0.17 253.06);
    --chart-1: oklch(0.56 0.13 43.00);
    --chart-2: oklch(0.69 0.16 290.41);
    --chart-3: oklch(0.21 0.01 95.42);
    --chart-4: oklch(0.31 0.05 289.32);
    --chart-5: oklch(0.56 0.13 42.06);
    --sidebar: oklch(0.24 0.00 67.71);
    --sidebar-foreground: oklch(0.81 0.01 93.01);
    --sidebar-primary: oklch(0.33 0 0);
    --sidebar-primary-foreground: oklch(0.99 0 0);
    --sidebar-accent: oklch(0.17 0.00 106.62);
    --sidebar-accent-foreground: oklch(0.81 0.01 93.01);
    --sidebar-border: oklch(0.94 0 0);
    --sidebar-ring: oklch(0.77 0 0);
    --font-sans: undefined;
    --font-serif: undefined;
    --font-mono: undefined;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

.theme-claymorphism {
  --background: oklch(0.92 0.00 48.72);
  --foreground: oklch(0.28 0.04 260.03);
  --card: oklch(0.97 0.00 106.42);
  --card-foreground: oklch(0.28 0.04 260.03);
  --popover: oklch(0.97 0.00 106.42);
  --popover-foreground: oklch(0.28 0.04 260.03);
  --primary: oklch(0.59 0.20 277.12);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.87 0.00 56.37);
  --secondary-foreground: oklch(0.45 0.03 256.80);
  --muted: oklch(0.92 0.00 48.72);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.94 0.03 321.94);
  --accent-foreground: oklch(0.37 0.03 259.73);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.87 0.00 56.37);
  --input: oklch(0.87 0.00 56.37);
  --ring: oklch(0.59 0.20 277.12);
  --chart-1: oklch(0.59 0.20 277.12);
  --chart-2: oklch(0.51 0.23 276.97);
  --chart-3: oklch(0.46 0.21 277.02);
  --chart-4: oklch(0.40 0.18 277.37);
  --chart-5: oklch(0.36 0.14 278.70);
  --sidebar: oklch(0.87 0.00 56.37);
  --sidebar-foreground: oklch(0.28 0.04 260.03);
  --sidebar-primary: oklch(0.59 0.20 277.12);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.94 0.03 321.94);
  --sidebar-accent-foreground: oklch(0.37 0.03 259.73);
  --sidebar-border: oklch(0.87 0.00 56.37);
  --sidebar-ring: oklch(0.59 0.20 277.12);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);

  @variant dark {
    --background: oklch(0.22 0.01 67.44);
    --foreground: oklch(0.93 0.01 255.51);
    --card: oklch(0.28 0.01 59.34);
    --card-foreground: oklch(0.93 0.01 255.51);
    --popover: oklch(0.28 0.01 59.34);
    --popover-foreground: oklch(0.93 0.01 255.51);
    --primary: oklch(0.68 0.16 276.93);
    --primary-foreground: oklch(0.22 0.01 67.44);
    --secondary: oklch(0.34 0.01 59.42);
    --secondary-foreground: oklch(0.87 0.01 258.34);
    --muted: oklch(0.28 0.01 59.34);
    --muted-foreground: oklch(0.71 0.02 261.32);
    --accent: oklch(0.39 0.01 59.47);
    --accent-foreground: oklch(0.87 0.01 258.34);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(0.22 0.01 67.44);
    --border: oklch(0.34 0.01 59.42);
    --input: oklch(0.34 0.01 59.42);
    --ring: oklch(0.68 0.16 276.93);
    --chart-1: oklch(0.68 0.16 276.93);
    --chart-2: oklch(0.59 0.20 277.12);
    --chart-3: oklch(0.51 0.23 276.97);
    --chart-4: oklch(0.46 0.21 277.02);
    --chart-5: oklch(0.40 0.18 277.37);
    --sidebar: oklch(0.34 0.01 59.42);
    --sidebar-foreground: oklch(0.93 0.01 255.51);
    --sidebar-primary: oklch(0.68 0.16 276.93);
    --sidebar-primary-foreground: oklch(0.22 0.01 67.44);
    --sidebar-accent: oklch(0.39 0.01 59.47);
    --sidebar-accent-foreground: oklch(0.87 0.01 258.34);
    --sidebar-border: oklch(0.34 0.01 59.42);
    --sidebar-ring: oklch(0.68 0.16 276.93);
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Roboto Mono, monospace;
    --radius: 1.25rem;
    --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
    --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
    --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
    --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
    --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
    --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
    --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
  }
}

.theme-vintage-paper  {
  --background: oklch(0.96 0.02 90.24);
  --foreground: oklch(0.38 0.02 64.34);
  --card: oklch(0.99 0.01 87.47);
  --card-foreground: oklch(0.38 0.02 64.34);
  --popover: oklch(0.99 0.01 87.47);
  --popover-foreground: oklch(0.38 0.02 64.34);
  --primary: oklch(0.62 0.08 65.54);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.88 0.03 85.57);
  --secondary-foreground: oklch(0.43 0.03 64.93);
  --muted: oklch(0.92 0.02 83.06);
  --muted-foreground: oklch(0.54 0.04 71.17);
  --accent: oklch(0.83 0.04 88.81);
  --accent-foreground: oklch(0.38 0.02 64.34);
  --destructive: oklch(0.55 0.14 32.91);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.86 0.03 84.59);
  --input: oklch(0.86 0.03 84.59);
  --ring: oklch(0.62 0.08 65.54);
  --chart-1: oklch(0.62 0.08 65.54);
  --chart-2: oklch(0.56 0.06 68.58);
  --chart-3: oklch(0.49 0.06 72.68);
  --chart-4: oklch(0.68 0.06 64.78);
  --chart-5: oklch(0.73 0.06 66.70);
  --sidebar: oklch(0.92 0.02 83.06);
  --sidebar-foreground: oklch(0.38 0.02 64.34);
  --sidebar-primary: oklch(0.62 0.08 65.54);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.83 0.04 88.81);
  --sidebar-accent-foreground: oklch(0.38 0.02 64.34);
  --sidebar-border: oklch(0.86 0.03 84.59);
  --sidebar-ring: oklch(0.62 0.08 65.54);
  --font-sans: Libre Baskerville, serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.25rem;
  --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);

  @variant dark {
    --background: oklch(0.27 0.01 57.65);
    --foreground: oklch(0.92 0.02 83.06);
    --card: oklch(0.32 0.02 59.06);
    --card-foreground: oklch(0.92 0.02 83.06);
    --popover: oklch(0.32 0.02 59.06);
    --popover-foreground: oklch(0.92 0.02 83.06);
    --primary: oklch(0.73 0.06 66.70);
    --primary-foreground: oklch(0.27 0.01 57.65);
    --secondary: oklch(0.38 0.02 57.13);
    --secondary-foreground: oklch(0.92 0.02 83.06);
    --muted: oklch(0.32 0.02 59.06);
    --muted-foreground: oklch(0.80 0.02 82.11);
    --accent: oklch(0.42 0.03 56.34);
    --accent-foreground: oklch(0.92 0.02 83.06);
    --destructive: oklch(0.55 0.14 32.91);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.38 0.02 57.13);
    --input: oklch(0.38 0.02 57.13);
    --ring: oklch(0.73 0.06 66.70);
    --chart-1: oklch(0.73 0.06 66.70);
    --chart-2: oklch(0.68 0.06 64.78);
    --chart-3: oklch(0.62 0.08 65.54);
    --chart-4: oklch(0.56 0.06 68.58);
    --chart-5: oklch(0.49 0.06 72.68);
    --sidebar: oklch(0.27 0.01 57.65);
    --sidebar-foreground: oklch(0.92 0.02 83.06);
    --sidebar-primary: oklch(0.73 0.06 66.70);
    --sidebar-primary-foreground: oklch(0.27 0.01 57.65);
    --sidebar-accent: oklch(0.42 0.03 56.34);
    --sidebar-accent-foreground: oklch(0.92 0.02 83.06);
    --sidebar-border: oklch(0.38 0.02 57.13);
    --sidebar-ring: oklch(0.73 0.06 66.70);
    --font-sans: Libre Baskerville, serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.25rem;
    --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
    --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
    --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
    --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
  }
}

.theme-quantum-rose {
  --background: oklch(0.97 0.02 343.93);
  --foreground: oklch(0.44 0.17 352.38);
  --card: oklch(0.98 0.01 339.33);
  --card-foreground: oklch(0.44 0.17 352.38);
  --popover: oklch(0.98 0.01 339.33);
  --popover-foreground: oklch(0.44 0.17 352.38);
  --primary: oklch(0.60 0.24 0.13);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.92 0.07 326.13);
  --secondary-foreground: oklch(0.44 0.17 352.38);
  --muted: oklch(0.94 0.04 344.26);
  --muted-foreground: oklch(0.57 0.17 352.05);
  --accent: oklch(0.88 0.08 344.88);
  --accent-foreground: oklch(0.44 0.17 352.38);
  --destructive: oklch(0.58 0.19 6.34);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.89 0.07 344.39);
  --input: oklch(0.92 0.07 326.13);
  --ring: oklch(0.60 0.24 0.13);
  --chart-1: oklch(0.60 0.24 0.13);
  --chart-2: oklch(0.60 0.17 345.04);
  --chart-3: oklch(0.60 0.12 311.80);
  --chart-4: oklch(0.58 0.12 283.29);
  --chart-5: oklch(0.65 0.19 267.97);
  --sidebar: oklch(0.96 0.02 345.75);
  --sidebar-foreground: oklch(0.44 0.17 352.38);
  --sidebar-primary: oklch(0.60 0.24 0.13);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.88 0.08 344.88);
  --sidebar-accent-foreground: oklch(0.44 0.17 352.38);
  --sidebar-border: oklch(0.93 0.04 343.31);
  --sidebar-ring: oklch(0.60 0.24 0.13);
  --font-sans: Poppins, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 3px 0px 0px hsl(330 70% 30% / 0.09);
  --shadow-xs: 0px 3px 0px 0px hsl(330 70% 30% / 0.09);
  --shadow-sm: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 1px 2px -1px hsl(330 70% 30% / 0.18);
  --shadow: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 1px 2px -1px hsl(330 70% 30% / 0.18);
  --shadow-md: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 2px 4px -1px hsl(330 70% 30% / 0.18);
  --shadow-lg: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 4px 6px -1px hsl(330 70% 30% / 0.18);
  --shadow-xl: 0px 3px 0px 0px hsl(330 70% 30% / 0.18), 0px 8px 10px -1px hsl(330 70% 30% / 0.18);
  --shadow-2xl: 0px 3px 0px 0px hsl(330 70% 30% / 0.45);

  @variant dark {
    --background: oklch(0.18 0.05 313.72);
    --foreground: oklch(0.86 0.13 326.64);
    --card: oklch(0.24 0.07 313.23);
    --card-foreground: oklch(0.86 0.13 326.64);
    --popover: oklch(0.24 0.07 313.23);
    --popover-foreground: oklch(0.86 0.13 326.64);
    --primary: oklch(0.75 0.23 332.02);
    --primary-foreground: oklch(0.16 0.05 327.57);
    --secondary: oklch(0.32 0.09 319.65);
    --secondary-foreground: oklch(0.86 0.13 326.64);
    --muted: oklch(0.27 0.08 312.35);
    --muted-foreground: oklch(0.71 0.16 327.11);
    --accent: oklch(0.36 0.12 325.77);
    --accent-foreground: oklch(0.86 0.13 326.64);
    --destructive: oklch(0.65 0.24 7.17);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.33 0.12 313.54);
    --input: oklch(0.32 0.09 319.65);
    --ring: oklch(0.75 0.23 332.02);
    --chart-1: oklch(0.75 0.23 332.02);
    --chart-2: oklch(0.65 0.22 317.63);
    --chart-3: oklch(0.62 0.22 292.77);
    --chart-4: oklch(0.61 0.16 278.72);
    --chart-5: oklch(0.62 0.20 268.05);
    --sidebar: oklch(0.19 0.05 311.40);
    --sidebar-foreground: oklch(0.86 0.13 326.64);
    --sidebar-primary: oklch(0.75 0.23 332.02);
    --sidebar-primary-foreground: oklch(0.16 0.05 327.57);
    --sidebar-accent: oklch(0.36 0.12 325.77);
    --sidebar-accent-foreground: oklch(0.86 0.13 326.64);
    --sidebar-border: oklch(0.33 0.12 313.54);
    --sidebar-ring: oklch(0.75 0.23 332.02);
    --font-sans: Quicksand, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 3px 0px 0px hsl(300 80% 50% / 0.09);
    --shadow-xs: 0px 3px 0px 0px hsl(300 80% 50% / 0.09);
    --shadow-sm: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 1px 2px -1px hsl(300 80% 50% / 0.18);
    --shadow: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 1px 2px -1px hsl(300 80% 50% / 0.18);
    --shadow-md: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 2px 4px -1px hsl(300 80% 50% / 0.18);
    --shadow-lg: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 4px 6px -1px hsl(300 80% 50% / 0.18);
    --shadow-xl: 0px 3px 0px 0px hsl(300 80% 50% / 0.18), 0px 8px 10px -1px hsl(300 80% 50% / 0.18);
    --shadow-2xl: 0px 3px 0px 0px hsl(300 80% 50% / 0.45);
  }
  
}

.theme-tangerine {
  --background: oklch(0.94 0.00 236.50);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.64 0.17 36.44);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.97 0.00 264.54);
  --secondary-foreground: oklch(0.45 0.03 256.80);
  --muted: oklch(0.98 0.00 247.84);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.91 0.02 243.82);
  --accent-foreground: oklch(0.38 0.14 265.52);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.90 0.01 247.88);
  --input: oklch(0.97 0.00 264.54);
  --ring: oklch(0.64 0.17 36.44);
  --chart-1: oklch(0.72 0.06 248.68);
  --chart-2: oklch(0.79 0.09 35.96);
  --chart-3: oklch(0.58 0.08 254.16);
  --chart-4: oklch(0.50 0.08 259.49);
  --chart-5: oklch(0.42 0.10 264.03);
  --sidebar: oklch(0.90 0.00 258.33);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.64 0.17 36.44);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.91 0.02 243.82);
  --sidebar-accent-foreground: oklch(0.38 0.14 265.52);
  --sidebar-border: oklch(0.93 0.01 264.53);
  --sidebar-ring: oklch(0.64 0.17 36.44);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);

  @variant dark  {
    --background: oklch(0.26 0.03 262.67);
    --foreground: oklch(0.92 0 0);
    --card: oklch(0.31 0.03 268.64);
    --card-foreground: oklch(0.92 0 0);
    --popover: oklch(0.29 0.02 268.40);
    --popover-foreground: oklch(0.92 0 0);
    --primary: oklch(0.64 0.17 36.44);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.31 0.03 266.71);
    --secondary-foreground: oklch(0.92 0 0);
    --muted: oklch(0.31 0.03 266.71);
    --muted-foreground: oklch(0.72 0 0);
    --accent: oklch(0.34 0.06 267.59);
    --accent-foreground: oklch(0.88 0.06 254.13);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.38 0.03 269.73);
    --input: oklch(0.38 0.03 269.73);
    --ring: oklch(0.64 0.17 36.44);
    --chart-1: oklch(0.72 0.06 248.68);
    --chart-2: oklch(0.77 0.09 34.19);
    --chart-3: oklch(0.58 0.08 254.16);
    --chart-4: oklch(0.50 0.08 259.49);
    --chart-5: oklch(0.42 0.10 264.03);
    --sidebar: oklch(0.31 0.03 267.74);
    --sidebar-foreground: oklch(0.92 0 0);
    --sidebar-primary: oklch(0.64 0.17 36.44);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.34 0.06 267.59);
    --sidebar-accent-foreground: oklch(0.88 0.06 254.13);
    --sidebar-border: oklch(0.38 0.03 269.73);
    --sidebar-ring: oklch(0.64 0.17 36.44);
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

.theme-modern-minimal {
  --background: oklch(1.00 0 0);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.62 0.19 259.81);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.97 0.00 264.54);
  --secondary-foreground: oklch(0.45 0.03 256.80);
  --muted: oklch(0.98 0.00 247.84);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.95 0.03 236.82);
  --accent-foreground: oklch(0.38 0.14 265.52);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.93 0.01 264.53);
  --input: oklch(0.93 0.01 264.53);
  --ring: oklch(0.62 0.19 259.81);
  --chart-1: oklch(0.62 0.19 259.81);
  --chart-2: oklch(0.55 0.22 262.88);
  --chart-3: oklch(0.49 0.22 264.38);
  --chart-4: oklch(0.42 0.18 265.64);
  --chart-5: oklch(0.38 0.14 265.52);
  --sidebar: oklch(0.98 0.00 247.84);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.62 0.19 259.81);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.95 0.03 236.82);
  --sidebar-accent-foreground: oklch(0.38 0.14 265.52);
  --sidebar-border: oklch(0.93 0.01 264.53);
  --sidebar-ring: oklch(0.62 0.19 259.81);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  @variant dark {
    --background: oklch(0.20 0 0);
    --foreground: oklch(0.92 0 0);
    --card: oklch(0.27 0 0);
    --card-foreground: oklch(0.92 0 0);
    --popover: oklch(0.27 0 0);
    --popover-foreground: oklch(0.92 0 0);
    --primary: oklch(0.62 0.19 259.81);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.27 0 0);
    --secondary-foreground: oklch(0.92 0 0);
    --muted: oklch(0.27 0 0);
    --muted-foreground: oklch(0.72 0 0);
    --accent: oklch(0.38 0.14 265.52);
    --accent-foreground: oklch(0.88 0.06 254.13);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.37 0 0);
    --input: oklch(0.37 0 0);
    --ring: oklch(0.62 0.19 259.81);
    --chart-1: oklch(0.71 0.14 254.62);
    --chart-2: oklch(0.62 0.19 259.81);
    --chart-3: oklch(0.55 0.22 262.88);
    --chart-4: oklch(0.49 0.22 264.38);
    --chart-5: oklch(0.42 0.18 265.64);
    --sidebar: oklch(0.20 0 0);
    --sidebar-foreground: oklch(0.92 0 0);
    --sidebar-primary: oklch(0.62 0.19 259.81);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.38 0.14 265.52);
    --sidebar-accent-foreground: oklch(0.88 0.06 254.13);
    --sidebar-border: oklch(0.37 0 0);
    --sidebar-ring: oklch(0.62 0.19 259.81);
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

.theme-perpetuity {
  --background: oklch(0.95 0.01 197.01);
  --foreground: oklch(0.38 0.06 212.66);
  --card: oklch(0.97 0.01 197.07);
  --card-foreground: oklch(0.38 0.06 212.66);
  --popover: oklch(0.97 0.01 197.07);
  --popover-foreground: oklch(0.38 0.06 212.66);
  --primary: oklch(0.56 0.09 203.28);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.92 0.02 196.84);
  --secondary-foreground: oklch(0.38 0.06 212.66);
  --muted: oklch(0.93 0.01 196.97);
  --muted-foreground: oklch(0.54 0.06 201.57);
  --accent: oklch(0.90 0.03 201.89);
  --accent-foreground: oklch(0.38 0.06 212.66);
  --destructive: oklch(0.57 0.19 25.54);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.89 0.02 204.41);
  --input: oklch(0.92 0.02 196.84);
  --ring: oklch(0.56 0.09 203.28);
  --chart-1: oklch(0.56 0.09 203.28);
  --chart-2: oklch(0.64 0.10 201.59);
  --chart-3: oklch(0.71 0.11 201.25);
  --chart-4: oklch(0.77 0.10 201.18);
  --chart-5: oklch(0.83 0.08 200.97);
  --sidebar: oklch(0.93 0.02 205.32);
  --sidebar-foreground: oklch(0.38 0.06 212.66);
  --sidebar-primary: oklch(0.56 0.09 203.28);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.90 0.03 201.89);
  --sidebar-accent-foreground: oklch(0.38 0.06 212.66);
  --sidebar-border: oklch(0.89 0.02 204.41);
  --sidebar-ring: oklch(0.56 0.09 203.28);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: Courier New, monospace;
  --font-mono: Courier New, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(185 70% 30% / 0.07);
  --shadow-xs: 1px 1px 2px 0px hsl(185 70% 30% / 0.07);
  --shadow-sm: 1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 1px 2px -1px hsl(185 70% 30% / 0.15);
  --shadow: 1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 1px 2px -1px hsl(185 70% 30% / 0.15);
  --shadow-md: 1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 2px 4px -1px hsl(185 70% 30% / 0.15);
  --shadow-lg: 1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 4px 6px -1px hsl(185 70% 30% / 0.15);
  --shadow-xl: 1px 1px 2px 0px hsl(185 70% 30% / 0.15), 1px 8px 10px -1px hsl(185 70% 30% / 0.15);
  --shadow-2xl: 1px 1px 2px 0px hsl(185 70% 30% / 0.38);

  @variant dark {
    --background: oklch(0.21 0.02 224.45);
    --foreground: oklch(0.85 0.13 195.04);
    --card: oklch(0.23 0.03 216.07);
    --card-foreground: oklch(0.85 0.13 195.04);
    --popover: oklch(0.23 0.03 216.07);
    --popover-foreground: oklch(0.85 0.13 195.04);
    --primary: oklch(0.85 0.13 195.04);
    --primary-foreground: oklch(0.21 0.02 224.45);
    --secondary: oklch(0.38 0.06 216.50);
    --secondary-foreground: oklch(0.85 0.13 195.04);
    --muted: oklch(0.29 0.04 218.82);
    --muted-foreground: oklch(0.66 0.10 195.05);
    --accent: oklch(0.38 0.06 216.50);
    --accent-foreground: oklch(0.85 0.13 195.04);
    --destructive: oklch(0.62 0.21 25.81);
    --destructive-foreground: oklch(0.96 0 0);
    --border: oklch(0.38 0.06 216.50);
    --input: oklch(0.38 0.06 216.50);
    --ring: oklch(0.85 0.13 195.04);
    --chart-1: oklch(0.85 0.13 195.04);
    --chart-2: oklch(0.66 0.10 195.05);
    --chart-3: oklch(0.58 0.08 195.07);
    --chart-4: oklch(0.43 0.06 202.62);
    --chart-5: oklch(0.31 0.05 204.16);
    --sidebar: oklch(0.21 0.02 224.45);
    --sidebar-foreground: oklch(0.85 0.13 195.04);
    --sidebar-primary: oklch(0.85 0.13 195.04);
    --sidebar-primary-foreground: oklch(0.21 0.02 224.45);
    --sidebar-accent: oklch(0.38 0.06 216.50);
    --sidebar-accent-foreground: oklch(0.85 0.13 195.04);
    --sidebar-border: oklch(0.38 0.06 216.50);
    --sidebar-ring: oklch(0.85 0.13 195.04);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: Source Code Pro, monospace;
    --font-mono: Source Code Pro, monospace;
    --radius: 0.125rem;
    --shadow-2xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.10);
    --shadow-xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.10);
    --shadow-sm: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 1px 2px -1px hsl(180 70% 60% / 0.20);
    --shadow: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 1px 2px -1px hsl(180 70% 60% / 0.20);
    --shadow-md: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 2px 4px -1px hsl(180 70% 60% / 0.20);
    --shadow-lg: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 4px 6px -1px hsl(180 70% 60% / 0.20);
    --shadow-xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 8px 10px -1px hsl(180 70% 60% / 0.20);
    --shadow-2xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.50);
  }
}

.theme-cosmic-night {
  --background: oklch(0.97 0.01 286.15);
  --foreground: oklch(0.30 0.06 282.42);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.30 0.06 282.42);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.30 0.06 282.42);
  --primary: oklch(0.54 0.18 288.03);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.92 0.04 292.69);
  --secondary-foreground: oklch(0.41 0.10 288.17);
  --muted: oklch(0.96 0.01 286.15);
  --muted-foreground: oklch(0.54 0.05 284.74);
  --accent: oklch(0.92 0.04 262.14);
  --accent-foreground: oklch(0.30 0.06 282.42);
  --destructive: oklch(0.69 0.21 14.99);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.91 0.02 285.96);
  --input: oklch(0.91 0.02 285.96);
  --ring: oklch(0.54 0.18 288.03);
  --chart-1: oklch(0.54 0.18 288.03);
  --chart-2: oklch(0.70 0.16 288.99);
  --chart-3: oklch(0.57 0.21 276.71);
  --chart-4: oklch(0.64 0.19 281.81);
  --chart-5: oklch(0.45 0.18 279.38);
  --sidebar: oklch(0.96 0.01 286.15);
  --sidebar-foreground: oklch(0.30 0.06 282.42);
  --sidebar-primary: oklch(0.54 0.18 288.03);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.92 0.04 262.14);
  --sidebar-accent-foreground: oklch(0.30 0.06 282.42);
  --sidebar-border: oklch(0.91 0.02 285.96);
  --sidebar-ring: oklch(0.54 0.18 288.03);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);

  @variant dark {
    --background: oklch(0.17 0.02 283.80);
    --foreground: oklch(0.92 0.03 285.88);
    --card: oklch(0.23 0.04 282.93);
    --card-foreground: oklch(0.92 0.03 285.88);
    --popover: oklch(0.23 0.04 282.93);
    --popover-foreground: oklch(0.92 0.03 285.88);
    --primary: oklch(0.72 0.16 290.40);
    --primary-foreground: oklch(0.17 0.02 283.80);
    --secondary: oklch(0.31 0.07 283.46);
    --secondary-foreground: oklch(0.84 0.08 285.91);
    --muted: oklch(0.27 0.06 281.44);
    --muted-foreground: oklch(0.72 0.05 285.17);
    --accent: oklch(0.34 0.08 280.97);
    --accent-foreground: oklch(0.92 0.03 285.88);
    --destructive: oklch(0.69 0.21 14.99);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.33 0.06 282.58);
    --input: oklch(0.33 0.06 282.58);
    --ring: oklch(0.72 0.16 290.40);
    --chart-1: oklch(0.72 0.16 290.40);
    --chart-2: oklch(0.64 0.10 274.91);
    --chart-3: oklch(0.75 0.12 244.75);
    --chart-4: oklch(0.71 0.10 186.68);
    --chart-5: oklch(0.75 0.18 346.81);
    --sidebar: oklch(0.23 0.04 282.93);
    --sidebar-foreground: oklch(0.92 0.03 285.88);
    --sidebar-primary: oklch(0.72 0.16 290.40);
    --sidebar-primary-foreground: oklch(0.17 0.02 283.80);
    --sidebar-accent: oklch(0.34 0.08 280.97);
    --sidebar-accent-foreground: oklch(0.92 0.03 285.88);
    --sidebar-border: oklch(0.33 0.06 282.58);
    --sidebar-ring: oklch(0.72 0.16 290.40);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
  }
}

.theme-neo-brutalism {
    --background: oklch(1.00 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(1.00 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.65 0.24 26.97);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.97 0.21 109.77);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.96 0 0);
    --muted-foreground: oklch(0.32 0 0);
    --accent: oklch(0.56 0.24 260.82);
    --accent-foreground: oklch(1.00 0 0);
    --destructive: oklch(0 0 0);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0 0 0);
    --input: oklch(0 0 0);
    --ring: oklch(0.65 0.24 26.97);
    --chart-1: oklch(0.65 0.24 26.97);
    --chart-2: oklch(0.97 0.21 109.77);
    --chart-3: oklch(0.56 0.24 260.82);
    --chart-4: oklch(0.73 0.25 142.50);
    --chart-5: oklch(0.59 0.27 328.36);
    --sidebar: oklch(0.96 0 0);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0.65 0.24 26.97);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.56 0.24 260.82);
    --sidebar-accent-foreground: oklch(1.00 0 0);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.65 0.24 26.97);
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0px;
    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
    --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);

  
  @variant dark {
    --background: oklch(0 0 0);
    --foreground: oklch(1.00 0 0);
    --card: oklch(0.32 0 0);
    --card-foreground: oklch(1.00 0 0);
    --popover: oklch(0.32 0 0);
    --popover-foreground: oklch(1.00 0 0);
    --primary: oklch(0.70 0.19 23.19);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.97 0.20 109.62);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.32 0 0);
    --muted-foreground: oklch(0.85 0 0);
    --accent: oklch(0.68 0.18 252.26);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(1.00 0 0);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(1.00 0 0);
    --input: oklch(1.00 0 0);
    --ring: oklch(0.70 0.19 23.19);
    --chart-1: oklch(0.70 0.19 23.19);
    --chart-2: oklch(0.97 0.20 109.62);
    --chart-3: oklch(0.68 0.18 252.26);
    --chart-4: oklch(0.74 0.23 142.85);
    --chart-5: oklch(0.61 0.25 328.07);
    --sidebar: oklch(0 0 0);
    --sidebar-foreground: oklch(1.00 0 0);
    --sidebar-primary: oklch(0.70 0.19 23.19);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.68 0.18 252.26);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(1.00 0 0);
    --sidebar-ring: oklch(0.70 0.19 23.19);
    --font-sans: DM Sans, sans-serif;
    --font-serif: undefined;
    --font-mono: Space Mono, monospace;
    --radius: 0px;
    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
    --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
  }
}

.theme-retro-arcade {
  --background: oklch(0.97 0.03 90.10);
  --foreground: oklch(0.31 0.05 219.65);
  --card: oklch(0.93 0.03 92.40);
  --card-foreground: oklch(0.31 0.05 219.65);
  --popover: oklch(0.93 0.03 92.40);
  --popover-foreground: oklch(0.31 0.05 219.65);
  --primary: oklch(0.59 0.20 355.89);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.64 0.10 187.38);
  --secondary-foreground: oklch(1.00 0 0);
  --muted: oklch(0.70 0.02 196.79);
  --muted-foreground: oklch(0.31 0.05 219.65);
  --accent: oklch(0.58 0.17 39.50);
  --accent-foreground: oklch(1.00 0 0);
  --destructive: oklch(0.59 0.21 27.12);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.65 0.02 205.26);
  --input: oklch(0.65 0.02 205.26);
  --ring: oklch(0.59 0.20 355.89);
  --chart-1: oklch(0.61 0.14 244.93);
  --chart-2: oklch(0.64 0.10 187.38);
  --chart-3: oklch(0.59 0.20 355.89);
  --chart-4: oklch(0.58 0.17 39.50);
  --chart-5: oklch(0.59 0.21 27.12);
  --sidebar: oklch(0.97 0.03 90.10);
  --sidebar-foreground: oklch(0.31 0.05 219.65);
  --sidebar-primary: oklch(0.59 0.20 355.89);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.64 0.10 187.38);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.65 0.02 205.26);
  --sidebar-ring: oklch(0.59 0.20 355.89);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0.25rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);

  @variant dark {
    --background: oklch(0.27 0.05 219.82);
    --foreground: oklch(0.70 0.02 196.79);
    --card: oklch(0.31 0.05 219.65);
    --card-foreground: oklch(0.70 0.02 196.79);
    --popover: oklch(0.31 0.05 219.65);
    --popover-foreground: oklch(0.70 0.02 196.79);
    --primary: oklch(0.59 0.20 355.89);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.64 0.10 187.38);
    --secondary-foreground: oklch(1.00 0 0);
    --muted: oklch(0.52 0.03 219.14);
    --muted-foreground: oklch(0.70 0.02 196.79);
    --accent: oklch(0.58 0.17 39.50);
    --accent-foreground: oklch(1.00 0 0);
    --destructive: oklch(0.59 0.21 27.12);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.52 0.03 219.14);
    --input: oklch(0.52 0.03 219.14);
    --ring: oklch(0.59 0.20 355.89);
    --chart-1: oklch(0.61 0.14 244.93);
    --chart-2: oklch(0.64 0.10 187.38);
    --chart-3: oklch(0.59 0.20 355.89);
    --chart-4: oklch(0.58 0.17 39.50);
    --chart-5: oklch(0.59 0.21 27.12);
    --sidebar: oklch(0.27 0.05 219.82);
    --sidebar-foreground: oklch(0.70 0.02 196.79);
    --sidebar-primary: oklch(0.59 0.20 355.89);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.64 0.10 187.38);
    --sidebar-accent-foreground: oklch(1.00 0 0);
    --sidebar-border: oklch(0.52 0.03 219.14);
    --sidebar-ring: oklch(0.59 0.20 355.89);
    --font-sans: Outfit, sans-serif;
    --font-serif: undefined;
    --font-mono: Space Mono, monospace;
    --radius: 0.25rem;
    --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
    --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
    --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
    --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 1px 2px -1px hsl(196 83% 10% / 0.15);
    --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 2px 4px -1px hsl(196 83% 10% / 0.15);
    --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 4px 6px -1px hsl(196 83% 10% / 0.15);
    --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15), 2px 8px 10px -1px hsl(196 83% 10% / 0.15);
    --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
  }
}
